@page "/"


<div class="index-page">

<h2>Welcome to the Contact Management website.</h2>


<p>Here you can visualize your contacts, and also make changes to them using this little project of ours.</p>
</div>